body {
    background: blue;
}
.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
}
.FormSearch {
    display: flex;
    flex-direction: column;
    
    width: 575px;
}
label {
    font-size: 16px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    width: 520px;
    text-align: left;
}
input {
    padding-left: 16px;
    height: 45px;
    width: 500px;
    border-radius: 6px 0 0 6px;
    border: none;
}
.Search {
    display: flex;
    align-self: flex-end;
    margin-top: -48px;
    border: none;
    width: 16px;
    padding: 14px 32px 14px 24px;
    background: blue;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: white;
    user-select: none;
}
.Search:hover {
    background: white;
    color: blue;
}
.arrow {
    color: red;
    font-weight: bold;
    margin-left: 16px;
    cursor: pointer;
}
.ok {
    color: blue;
    font-weight: bold;
    margin-left: 80px;
    cursor: pointer; 
}
.newContent {
    margin: 16px 0;
    display: flex;
    align-items: center;
    color: #101010;
    background: white;
    line-height: 64px;
    padding: 0 24px;
    border-radius: 6px;
}
.TodoCheckH2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 96px;
    color: white;
}